html {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 6em;
	background-color: #90caf9;
}

.start_screen {
	font-weight: 900;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #90caf9;
}

.description {
	display: block;
	font-size: 0.5em;
	width: 75%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 30px;
}

.copyright {
	font-size: .25em;
	text-align: center;
}

button {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	width: 100px;
	height: 40px;
	background-color: #0d47a1;
	border: 0;
	border-radius: 4px;
	color: white;
	text-decoration: none;
}

button:hover {
	background-color: #1565c0;
}

canvas {
	background-color: white;
	display: none;
	position: relative;
    border: 1px solid #000;
    margin: 0 auto;
    width: 100%;
    height: auto;
}