html {
	font-family: 'Amatic SC', cursive;
	text-align: center;
	background-color: #90caf9;
}

.start_screen {
	font-size: 8em;
	font-weight: 900;
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: #90caf9;
}

.description {
	font-size: .45em;
	display: block;
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 30px;
}

.copyright {
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	font-size: 2em;
	
}

button {
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	width: 100px;
	height: 40px;
	background-color: #0d47a1;
	border: 0;
	border-radius: 4px;
	color: white;
	text-decoration: none;
}

button:hover {
	background-color: #1565c0;
}

canvas {
	background-color: white;
	display: none;
	position: relative;
    border: 1px solid #000;
    margin: 0 auto;
}

@media only screen and (max-width: 699px) {

	.start_screen {
		font-size: 6em;
	}

	.copyright {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 499px) {
	
	.start_screen {
		font-size: 4em;
	}

	.copyright {
		font-size: 1em;
	}

}
